@charset "utf-8";

body.loading {
	display: table;
}
body.loading #loader_container {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
body.loading #loader_block {
	background-color: #666;
	border: 2px solid white;
	display: block;
	height: 20px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 25%;
}
body.loading #loader_bar {
	background-color: #CCC;
	position: relative;
	height: 100%;
	width: 0%;
	-webkit-transition: width .25s ease 0s;
	-moz-transition: width .25s ease 0s;
	-ms-transition: width .25s ease 0s;
	-o-transition: width .25s ease 0s;
	transition: width .25s ease 0s;
	z-index: 100;
}
body.loading #loader_bar:after {
	content: '';
	height: 0;
	border-color: transparent transparent transparent #CCC;
	border-style: solid;
	border-width: 10px 10px 10px 8px;
	position: absolute;
	right: -18px;
	width: 0;
}

#loader_text{
	color:#fff;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: .8em;
	font-weight: bold;
	height: 100%;
	left: 50%;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 200;
}
